/* フォント定義 */
@font-face {
    font-family: "Noto Sans JP";
    font-style: Nomal;
    font-weight: 400;
    src: url(../font/NotoSansJP-Regular.ttf) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans JP";
    font-style: Nomal;
    font-weight: 700;
    src: url("../font/NotoSansJP-Bold.ttf") format("woff2");
    font-display: swap;
}

body {
    font-family: "Noto Sans JP", "MYEFKibanMeiryoGaiji", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ　Ｐゴシック", "Helvetica Neue", "Helvetica", "Arial", Sans-Serif;
    background-color: #F2FAF4;
}